<div class="row">
  <div class="col l5 m8 s12 offset-l3 offset-m2">
    <div class="list-box">
      <div class="list-header">
        <span class="title">Nova Nota</span>
      </div>
      <%= render 'form', list: @list %>
    </div>
  </div>
</div>