$(document).ready(function() {
  control = 0;
  
  setupDropDown();
});

$(document).on('click', '.done', function() {
  var item_id;
  var item = $(this).closest('.row');
  var done = $(this).prop('checked') ? true : false;

  if ($(this).prop('type') === 'checkbox') {
    item_id = $(this).val();
  } else {
    item_id = $(this).closest('p').find('input').val();
  }

  $.ajax({
    url: '<%=Rails.application.routes.url_helpers.item_update_lists_path%>',
    type: 'get',
    dataType: 'html',
    data: { item_id: item_id,
            done: done
          },
  })
  .done(function(lists) {
    $("#lists").html(lists);
    setupDropDown();
  });
});

$(document).on('click', '.color', function() {
  var list_id = $(this).attr('id');
  var color = $(this).find('a').attr('id');

  $.ajax({
    url: '<%=Rails.application.routes.url_helpers.color_update_lists_path%>',
    type: 'get',
    dataType: 'html',
    data: { list_id: list_id,
            color: color 
          },
  })
  .done(function(lists) {
    $("#lists").html(lists);
    setupDropDown();
  });
});

$(document).on('click', '.delete-item', function() {
  var item_id = $(this).attr('id');

  $.ajax({
    url: '<%=Rails.application.routes.url_helpers.delete_item_lists_path%>',
    type: 'get',
    dataType: 'html',
    data: { item_id: item_id },
  })
  .done(function(lists) {
    $("#lists").html(lists);
    setupDropDown();
    flash('Item Apagado!');
  });
});

$(document).on('focus', '.js-title', function() {
  var $add           = $('.js-add');
  var $description   = $('.js-description');

  if ($description.length == 0) {
    $add.click();
  }
});

$(document).on('keyup', '.js-description', function() {
  var $add          = $('.js-add');
  var input         = $(this).attr('id');
  var description   = $(this).val();
  var $inputControl = $('.js-description');

  if (description.length > 0 && control != input) {
    control = input;
    $add.click();
  } else if (description.length == 0 && $inputControl.length > 1 && control == input) {
    var remove = $(this).closest('.nested-fields').find('.js-remove');
    
    control = input;
    remove.click();
  }
});

function adicionarLista() {
  var title        = $('.js-title').val();
  var $description = $('.js-description');

  if (!(title.trim() == "" || ($description.length == 1 && $description.val().trim() == ""))) {
    $('#new_list').ajaxSubmit({
      dataType: 'html',
      success: processHtml
    });
  
    return limparForm();
  }
}

function apagarLista(element, list_id) {
  $.ajax({
    url: '<%=Rails.application.routes.url_helpers.list_destroy_lists_path%>',
    type: 'get',
    dataType: 'json',
    data: { list_id: list_id },
  })
  .done(function(response) {
    var $list = element.closest('.list');

    if (response) {
      $($list).fadeOut(300, function() { 
        $(this).remove();
        flashWithAction('Lista Apagada!')
      });
    }
  });
}

function processHtml(data) {
  var div = $('.list').closest('.row');
  if ($(div).length == 0) {
    div = $('#lists').find('.row');
    div.prepend("<div id='' class='list'></div>");
    div = $('.list').closest('.row');
  } 

  $(div).prepend(data);
  $('.list:first').hide().fadeIn(300);
  setupDropDown();
  flash('Lista Criada!');
}

function setupDropDown() {
  $('.dropdown-button').dropdown({
    hover: true
  });
}

function flash(text) {
  Materialize.toast(text, 4000)
}

function flashWithAction(text) {
  var $button       = '<button class="btn-flat toast-action">Desfazer</button>';
  var $toastContent = $('<span>'+ text +'</span>').add($($button));

  Materialize.toast($toastContent, 4000);
}

function limparForm() {
  var fieldLength = 0;

  $('#list_title').val('');
  $('.js-description').val('');

  $('.js-remove').each(function() {
    fieldLength = $('.js-remove').length;

    if (fieldLength == 1) {
      return false;
    }

    $(this).click();
  });
}