/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
@import "materialize";

$white:           #fff;
$grey-lighten-1:  #bdbdbd;
$grey-lighten-2:  #e0e0e0;
$grey-darken-2:   #616161;
$yellow:          #ffeb3b;
$amber-lighten-1: #ffca28;
$amber-lighten-2: #ff8f00;
$blue-darken-2:   #1976d2;

#login {
  background: $white;
  padding: 10px;
  border-radius: 4px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.col.s12 > .btn {
  width: 100%;
}

[type="checkbox"]:checked + label:before {
  border-right:  2px solid $grey-darken-2;
  border-bottom: 2px solid $grey-darken-2;
}

.side-nav {
  max-width: 280px;
  padding-top: 68px;
  box-shadow: none;
  z-index: 10;
}

input[type="search"] {
  height: 46px !important;

  &:focus {
    background-color: $yellow !important;
  }
}

.container-fluid {
  padding-right: 30px;
}

 #notes {
   margin-top: 30px;
 }

 nav {
   padding: 0 15px;
   background-color: $amber-lighten-1;
 }

 nav .brand-logo {
   font-size: 1.625rem;
 }
 
.complete {
  text-decoration: line-through;
}

#toast-container{
  top: 0 !important;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}

.input-field label {
  color: $grey-lighten-1;
}
 
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
textarea.materialize-textarea{
  border-bottom: 1px solid $grey-lighten-1;
  background-color: transparent;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $grey-lighten-1;
  box-shadow: 0 1px 0 0 $grey-lighten-1;
}

input[type=search]:not(.browser-default) {
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgba($color: $yellow, $alpha: .5);
}

::-webkit-input-placeholder {
  color: $grey-darken-2;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

.input-field input[type=search]:focus + label i {
  color: $amber-lighten-2;
}

nav .input-field label {
  top: -20px;

  i {
    color: $grey-darken-2 !important;
  }
}

.search .input-field label:not(.label-icon).active {
  transform: translateY(10px) scale(1.1);
  transform-origin: translateY(10px);
}

[type="checkbox"].filled-in:checked + label:after {
  background-color: $blue-darken-2;
  border-color: $grey-darken-2;
}

.list-box {
  background: $white;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.title {
  text-transform: uppercase;
  font-weight: bolder;
}

.row {
  margin-bottom: 10px;
}

.item {
  display: inline-block;
}

.hidden {
  display: none;
}

.side-nav li > a > i,
.side-nav li > a > [class^="mdi-"],
.side-nav li > a li > a > [class*="mdi-"],
.side-nav li > a > i.material-icons {
  margin: 0 10px 0 0;
}

.side-nav li > a {
  padding: 0 15px;

  &:hover {
    background: $grey-lighten-2;
  }
}

.menu {
  display: none;  
}

@media (max-width: 1025px) {
  .menu {
    display: inline-block !important;
  }

  .side-nav {
    z-index: 1000;
  }

  main, footer {
    padding-left: 0;
  }

  .brand-logo {
    display: none !important;
  }
}

.sp-no-l {
  cursor: pointer;
}

.pointer-color {
  cursor: pointer;
  margin: 5px;
}

.autocomplete-content {
  margin-top: 0 !important;
}